published/schema/2012/xsd/txtmap/txtmap.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--

  txtmap

  Version: 1.0
  Date: 2012-04-27
  Author: William Wueppelmann
  Institution: Canadiana.org
  Contact: william.wueppelmann@canadiana.ca
  Web: http://www.canadiana.ca

  The purpose of this schema is to represent the text of a single page
  image, typically generated by OCR, whether as a block of of unformatted
  text or as words with positional parameters.

  For single page images, a single <page> element is used. For multiple
  page containers (e.g. multi-page TIFF or PDF) one <page> element is used
  for each page in the source document, in the order they appear.

  This schema is designed for use in the <dmdSec> for document pages of
  CSIP METS records: http://canadiana.ca/schema/2012/mets/csip

  Some brief examples:

  A blank page:
  <?xml version="1.0" encoding="utf-8"?>
  <txtmap xmlns="http://canadiana.ca/schema/2012/xsd/txtmap">
    <page/>
  </txtmap>

  Unformatted block text:
  <?xml version="1.0" encoding="utf-8"?>
  <txtmap xmlns="http://canadiana.ca/schema/2012/xsd/txtmap">
    <page>
      <t>Hello, world!</t>
    </page>
  </txtmap>

  OCR with positional word parameters:
  <?xml version="1.0" encoding="utf-8"?>
  <txtmap xmlns="http://canadiana.ca/schema/2012/xsd/txtmap">
    <page>
      <w T="255" L="276" W="145" H="34">Hello,</w>
      <w T="254" L="453" W="132" H="35">world</w>
    </page>
  </txtmap>

  Mix-and-match:
  <?xml version="1.0" encoding="utf-8"?>
  <txtmap xmlns="http://canadiana.ca/schema/2012/xsd/txtmap">
    <page>
      <t>The quick brown fox</t>
      <w T="253" L="587" W="156" H="38">jumped</w>
      <t>over the lazy</t>
      <w T="255" L="1015" W="94" H="39">dogs.</w>
    </page>
  </txtmap>

-->

<xsd:schema
  targetNamespace="http://canadiana.ca/schema/2012/xsd/txtmap"
  xmlns="http://canadiana.ca/schema/2012/xsd/txtmap"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  xml:lang="en"
>

  <xsd:element name="txtmap">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="page" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:group ref="content" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:group name="content">
    <xsd:choice>
      <xsd:element name="t" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>An unformatted block of text.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="w" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            A word with positional data. T and L are the offset, in
            pixels, from the top and left edges of the image. W and H are
            the width and height, in pixels, of the word.
          </xsd:documentation> </xsd:annotation>
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="T" type="xsd:integer" use="required"/>
              <xsd:attribute name="L" type="xsd:integer" use="required"/>
              <xsd:attribute name="W" type="xsd:integer" use="required"/>
              <xsd:attribute name="H" type="xsd:integer" use="required"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>

    </xsd:choice>
  </xsd:group>

</xsd:schema>
